@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .66), rgba(0, 0, 0, .34));
}

a {
    color: #ffffff;
}


.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 100vh;
    height: var(--vh, 1vh) * 100;
    width: 100vw;
    margin: auto;
    transition: margin .5s ease-out;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./img/mos1.png) center center no-repeat;
    background-size: 50% 50%;
}

.screen.up {
    margin-top: -100vh;
}

#title {
    top: 15%;
    transform: translateY(-15%);
    position: absolute;
    color: rgb(237, 84, 84);
    text-shadow: 0 2px 2px rgb(226, 226, 108);
    letter-spacing: .55rem;
    font-size: 3rem;
    width: max-content;
    padding: 0 2rem;
    background: rgba(0, 0, 0, .09);
    border-radius: 0.4rem;
    /* border-bottom: 2px solid rgb(237, 84, 84); */
}

.btn {
    border: none;
    position: absolute;
    bottom: 10%;
    transform: translateY(10%);
    width: 20%;
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, rgb(237, 84, 84), rgb(226, 226, 108));
    color: #FFEFFF;
    font-weight: 600;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    transition: all 0.2s ease;
    background: transparent;
}

.btn:focus {
    border: 1px solid #ffffff;
    opacity: .5;
}

.section2 {
    gap: 2rem;
}

#insects-name {
    line-height: 1.5;
    font-size: 2.6rem;
    letter-spacing: 1px;
}

#insects-name .kill {
    font-size: 4rem;
    color: rgb(234, 50, 50);
    text-shadow: 0 1px 7px rgba(0, 0, 0, .21);
}

#insects-name .insect-text {
    font-size: 4rem;
    color: rgb(55, 223, 55);
    text-shadow: 0 1px 7px rgba(0, 0, 0, .21);
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.choice-btn {
    position: relative;
    background: transparent;
    border: 1px solid #CCC;
    color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 6px;
    transition: all .3s ease-out;
    cursor: pointer;
    overflow: hidden;
}

.choice-btn:hover {
    background: #FFEFFF;
    color: #181818;
    transition: all .3s ease-in;
}

.choice-btn:hover img {
    transform: scale(1.3);
    transition: 0.3s all ease;
}

.choice-btn:hover p {
    color: #FFFFFF;
    border: 1px solid #181818;
    background: #181718;
    transition: 0.3s all linear;
}

.choice-btn p {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 1.2rem;
    margin: .25rem auto;
    z-index: 10;
    border-radius: 1.2rem;
    padding: 0.3rem;
    border: 1px solid #ccc;
    transition: 0.3s all linear;
}

.choice-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
    image-rendering: -webkit-optimize-contrast;
    z-index: 1;
}

.container {
    position: relative;
}

.time, .score {
    position: absolute;
    top: 20px;
    font-size: 2rem;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.message {
    position: absolute;
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    line-height: 1.8;
    font-size: 1.5rem;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: trasnsform 0.4s ease-in;
}

.message.visible {
    transform: translate(-50%, 150%);
    opacity: 0.8;
    z-index: 1;
}

.insect {
    position: absolute;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    width: 180px;
    height: 180px;
}

#restart {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.35);
    display: none;
    cursor: pointer;
}



/* media-query */

@media (max-width: 564px) {
    .screen {
        max-width: 90%;
    }

    #insects-name {
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .btn {
        width: 80%;
    }

    .choice-btn {
        width: 155px;
        height: 150px;
    }

    .time, .score, .message {
        font-size: 1.25rem;
    }

    .insect, .insect img {
        width: 125px;
        height: 125px;
    }
}